Смотрим, что представляют из себя данные по потребительским расходам

In [194]:
import pandas as pd

df = pd.read_parquet('data/8_consumption.parquet')
df.head(7)

      date  territory_id              category  value
0  2023-01             1        Продовольствие   7692
1  2023-01             1              Здоровье   1271
2  2023-01             1          Маркетплейсы   2505
3  2023-01             1  Общественное питание   1142
5  2023-01             1             Транспорт   1718
6  2023-01             1         Все категории  21580
7  2023-01             2        Продовольствие   6395

In [195]:
# Посмотрим на уникальные категории
df['category'].unique()

array(['Продовольствие', 'Здоровье', 'Маркетплейсы',
       'Общественное питание', 'Транспорт', 'Все категории'], dtype=object)

In [196]:
# Посмотриим временной срез
df['date'].unique()

array(['2023-01', '2023-02', '2023-03', '2023-04', '2023-05', '2023-06',
       '2023-07', '2023-08', '2023-09', '2023-10', '2023-11', '2023-12',
       '2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06',
       '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12'],
      dtype=object)

In [197]:
df

           date  territory_id              category  value
0       2023-01             1        Продовольствие   7692
1       2023-01             1              Здоровье   1271
2       2023-01             1          Маркетплейсы   2505
3       2023-01             1  Общественное питание   1142
5       2023-01             1             Транспорт   1718
...         ...           ...                   ...    ...
353641  2024-12          3101              Здоровье   1483
353642  2024-12          3101          Маркетплейсы   6854
353643  2024-12          3101  Общественное питание    525
353645  2024-12          3101             Транспорт   1209
353646  2024-12          3101         Все категории  30701

[303126 rows x 4 columns]

In [211]:
# отберем записи за 2024 год
df_2024 = df[df['date'].str.contains('2024')]
df_2024.head(10)

           date  territory_id              category  value
178178  2024-01             1        Продовольствие   8590
178179  2024-01             1              Здоровье   1393
178180  2024-01             1          Маркетплейсы   4031
178181  2024-01             1  Общественное питание   1249
178183  2024-01             1             Транспорт   1763
178184  2024-01             1         Все категории  23813
178185  2024-01             2        Продовольствие   6387
178186  2024-01             2              Здоровье   1333
178187  2024-01             2          Маркетплейсы   3193
178188  2024-01             2  Общественное питание   1030

In [199]:
# Программа минимум — анализ трат потребителей
df_prod = df_2024[df_2024['category'] == 'Продовольствие']
df_prod

           date  territory_id        category  value
178178  2024-01             1  Продовольствие   8590
178185  2024-01             2  Продовольствие   6387
178192  2024-01             3  Продовольствие   8064
178199  2024-01             4  Продовольствие   7706
178206  2024-01             5  Продовольствие   7401
...         ...           ...             ...    ...
353612  2024-12          3011  Продовольствие  14955
353619  2024-12          3012  Продовольствие  12883
353626  2024-12          3013  Продовольствие  19934
353633  2024-12          3014  Продовольствие  18531
353640  2024-12          3101  Продовольствие  13516

[25067 rows x 4 columns]

In [200]:
# делаем выборку по первому МО и смотрим на средние траты на продовольствие
df_prod1 = df_prod[df_prod['territory_id'] == 1]
df_prod1

           date  territory_id        category  value
178178  2024-01             1  Продовольствие   8590
192682  2024-02             1  Продовольствие   9435
207228  2024-03             1  Продовольствие  10348
221809  2024-04             1  Продовольствие  10266
236418  2024-05             1  Продовольствие  10367
251013  2024-06             1  Продовольствие  10482
265601  2024-07             1  Продовольствие  10589
280224  2024-08             1  Продовольствие  10349
294882  2024-09             1  Продовольствие   9746
309582  2024-10             1  Продовольствие  10112
324226  2024-11             1  Продовольствие   9993
338926  2024-12             1  Продовольствие  12031

In [201]:
# посмотрим на средние траты с января 2024 по декабрь 2024 года
df_prod1[['territory_id', 'value']].groupby('territory_id').aggregate('mean').reset_index(drop=False)

   territory_id         value
0             1  10192.333333

Технология понятна, выбираем Москвоскую область и Москву, для этого подгрузим excel с названиями МО, субъекта и т.п.

In [212]:
import pandas as pd

df_dstr = pd.read_excel('data/t_dict_municipal_districts.xlsx')
# самые актуальные данные
df_dstr = df_dstr[df_dstr['year_to'] == 9999]

df_dstr.head(5)

,municipal_district_name_short,oktmo,municipal_district_name,municipal_district_type,municipal_district_status,shape,shape_linked_oktmo,municipal_district_center,source_rosstat,year_from,year_to,territory_id,change_id_from,change_id_to,region_code,region_name,municipal_district_center_lat,municipal_district_center_lon
0,Майкоп,79-701-000-000,городской округ город Майкоп,городской округ,административный_центр_субъекта,1,NaN,г Майкоп,data-20180110-structure-20150128.csv,2018,9999,1,NaN,NaN,1,Республика Адыгея,44.606208,40.104053
1,Адыгейск,79-703-000-000,городской округ город Адыгейск,городской округ,NaN,1,NaN,г Адыгейск,data-20180110-structure-20150128.csv,2018,9999,2,NaN,NaN,1,Республика Адыгея,44.883378,39.190962
2,Гиагинский,79-605-000-000,Гиагинский муниципальный район,муниципальный район,NaN,1,NaN,ст-ца Гиагинская,data-20180110-structure-20150128.csv,2018,9999,3,NaN,NaN,1,Республика Адыгея,44.875585,40.056498
3,Кошехабльский,79-615-000-000,Кошехабльский муниципальный район,муниципальный район,NaN,1,NaN,аул Кошехабль,data-20180110-structure-20150128.csv,2018,9999,4,NaN,NaN,1,Республика Адыгея,44.896500,40.496363
4,Красногвардейский,79-618-000-000,Красногвардейский муниципальный район,муниципальный район,NaN,1,NaN,с Красногвардейское,data-20180110-structure-20150128.csv,2018,9999,5,NaN,NaN,1,Республика Адыгея,45.144356,39.586148

In [213]:
df_un = pd.merge(df_dstr, df_2024, on=['territory_id'])
df_un.head(5)

,municipal_district_name_short,oktmo,municipal_district_name,municipal_district_type,municipal_district_status,shape,shape_linked_oktmo,municipal_district_center,source_rosstat,year_from,...,territory_id,change_id_from,change_id_to,region_code,region_name,municipal_district_center_lat,municipal_district_center_lon,date,category,value
0,Майкоп,79-701-000-000,городской округ город Майкоп,городской округ,административный_центр_субъекта,1,NaN,г Майкоп,data-20180110-structure-20150128.csv,2018,...,1,NaN,NaN,1,Республика Адыгея,44.606208,40.104053,2024-01,Продовольствие,8590
1,Майкоп,79-701-000-000,городской округ город Майкоп,городской округ,административный_центр_субъекта,1,NaN,г Майкоп,data-20180110-structure-20150128.csv,2018,...,1,NaN,NaN,1,Республика Адыгея,44.606208,40.104053,2024-01,Здоровье,1393
2,Майкоп,79-701-000-000,городской округ город Майкоп,городской округ,административный_центр_субъекта,1,NaN,г Майкоп,data-20180110-structure-20150128.csv,2018,...,1,NaN,NaN,1,Республика Адыгея,44.606208,40.104053,2024-01,Маркетплейсы,4031
3,Майкоп,79-701-000-000,городской округ город Майкоп,городской округ,административный_центр_субъекта,1,NaN,г Майкоп,data-20180110-structure-20150128.csv,2018,...,1,NaN,NaN,1,Республика Адыгея,44.606208,40.104053,2024-01,Общественное питание,1249
4,Майкоп,79-701-000-000,городской округ город Майкоп,городской округ,административный_центр_субъекта,1,NaN,г Майкоп,data-20180110-structure-20150128.csv,2018,...,1,NaN,NaN,1,Республика Адыгея,44.606208,40.104053,2024-01,Транспорт,1763

In [214]:
df_msk = df_un[(df_un['region_name'] == 'Московская область') | (df_un['region_name'] == 'Москва')]
print(f"Субъекты Московского региона: {df_msk['region_name'].unique()}")
df_msk.head(5)

Субъекты Московского региона: ['Московская область' 'Москва']

,municipal_district_name_short,oktmo,municipal_district_name,municipal_district_type,municipal_district_status,shape,shape_linked_oktmo,municipal_district_center,source_rosstat,year_from,...,territory_id,change_id_from,change_id_to,region_code,region_name,municipal_district_center_lat,municipal_district_center_lon,date,category,value
56196,Балашиха,46-704-000-000,городской округ Балашиха,городской округ,NaN,1,NaN,г Балашиха,data-20180110-structure-20150128.csv,2018,...,1439,NaN,NaN,50,Московская область,55.799766,37.937371,2024-01,Продовольствие,13924
56197,Балашиха,46-704-000-000,городской округ Балашиха,городской округ,NaN,1,NaN,г Балашиха,data-20180110-structure-20150128.csv,2018,...,1439,NaN,NaN,50,Московская область,55.799766,37.937371,2024-01,Здоровье,2326
56198,Балашиха,46-704-000-000,городской округ Балашиха,городской округ,NaN,1,NaN,г Балашиха,data-20180110-structure-20150128.csv,2018,...,1439,NaN,NaN,50,Московская область,55.799766,37.937371,2024-01,Маркетплейсы,5441
56199,Балашиха,46-704-000-000,городской округ Балашиха,городской округ,NaN,1,NaN,г Балашиха,data-20180110-structure-20150128.csv,2018,...,1439,NaN,NaN,50,Московская область,55.799766,37.937371,2024-01,Общественное питание,2664
56200,Балашиха,46-704-000-000,городской округ Балашиха,городской округ,NaN,1,NaN,г Балашиха,data-20180110-structure-20150128.csv,2018,...,1439,NaN,NaN,50,Московская область,55.799766,37.937371,2024-01,Транспорт,3299

In [215]:
df_msk_prod = df_msk[df_msk['category'] == 'Продовольствие']
df_msk_prod

,municipal_district_name_short,oktmo,municipal_district_name,municipal_district_type,municipal_district_status,shape,shape_linked_oktmo,municipal_district_center,source_rosstat,year_from,...,territory_id,change_id_from,change_id_to,region_code,region_name,municipal_district_center_lat,municipal_district_center_lon,date,category,value
56196,Балашиха,46-704-000-000,городской округ Балашиха,городской округ,NaN,1,NaN,г Балашиха,data-20180110-structure-20150128.csv,2018,...,1439,NaN,NaN,50,Московская область,55.799766,37.937371,2024-01,Продовольствие,13924
56202,Балашиха,46-704-000-000,городской округ Балашиха,городской округ,NaN,1,NaN,г Балашиха,data-20180110-structure-20150128.csv,2018,...,1439,NaN,NaN,50,Московская область,55.799766,37.937371,2024-02,Продовольствие,14696
56208,Балашиха,46-704-000-000,городской округ Балашиха,городской округ,NaN,1,NaN,г Балашиха,data-20180110-structure-20150128.csv,2018,...,1439,NaN,NaN,50,Московская область,55.799766,37.937371,2024-03,Продовольствие,16173
56214,Балашиха,46-704-000-000,городской округ Балашиха,городской округ,NaN,1,NaN,г Балашиха,data-20180110-structure-20150128.csv,2018,...,1439,NaN,NaN,50,Московская область,55.799766,37.937371,2024-04,Продовольствие,15834
56220,Балашиха,46-704-000-000,городской округ Балашиха,городской округ,NaN,1,NaN,г Балашиха,data-20180110-structure-20150128.csv,2018,...,1439,NaN,NaN,50,Московская область,55.799766,37.937371,2024-05,Продовольствие,16492
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144498,Павлово-Посадский,46-759-000-000,городской округ Павлово-Посадский,городской округ,NaN,1,NaN,г Павловский Посад,data-20240101-structure-20150128.csv,2024,...,3014,union_22,NaN,50,Московская область,55.781336,38.650784,2024-08,Продовольствие,15458
144504,Павлово-Посадский,46-759-000-000,городской округ Павлово-Посадский,городской округ,NaN,1,NaN,г Павловский Посад,data-20240101-structure-20150128.csv,2024,...,3014,union_22,NaN,50,Московская область,55.781336,38.650784,2024-09,Продовольствие,14662
144510,Павлово-Посадский,46-759-000-000,городской округ Павлово-Посадский,городской округ,NaN,1,NaN,г Павловский Посад,data-20240101-structure-20150128.csv,2024,...,3014,union_22,NaN,50,Московская область,55.781336,38.650784,2024-10,Продовольствие,15150
144516,Павлово-Посадский,46-759-000-000,городской округ Павлово-Посадский,городской округ,NaN,1,NaN,г Павловский Посад,data-20240101-structure-20150128.csv,2024,...,3014,union_22,NaN,50,Московская область,55.781336,38.650784,2024-11,Продовольствие,15307
144522,Павлово-Посадский,46-759-000-000,городской округ Павлово-Посадский,городской округ,NaN,1,NaN,г Павловский Посад,data-20240101-structure-20150128.csv,2024,...,3014,union_22,NaN,50,Московская область,55.781336,38.650784,2024-12,Продовольствие,18531

In [216]:
# Группируем по territory_id
df_prod_mean =df_msk_prod[['territory_id', 'value']].groupby('territory_id').aggregate('mean').reset_index(drop=False)
df_prod_mean

     territory_id         value
0            1439  16033.083333
1            1440  15290.666667
2            1443  15648.500000
3            1444  16241.916667
4            1445  15573.166667
..            ...           ...
195          2813  15833.833333
196          2814  15975.000000
197          3008  16341.250000
198          3013  16474.916667
199          3014  15682.500000

[200 rows x 2 columns]

In [217]:
df_msk_health = df_msk[df_msk['category'] == 'Здоровье']
df_msk_marketplace = df_msk[df_msk['category'] == 'Маркетплейсы']
df_msk_mak = df_msk[df_msk['category'] == 'Общественное питание']
df_msk_trans = df_msk[df_msk['category'] == 'Транспорт']

In [218]:
df_msk_health = df_msk_health[['territory_id', 'value']].groupby('territory_id').aggregate('mean').reset_index(drop=False)
df_msk_marketplace = df_msk_marketplace[['territory_id', 'value']].groupby('territory_id').aggregate('mean').reset_index(drop=False)
df_msk_mak = df_msk_mak[['territory_id', 'value']].groupby('territory_id').aggregate('mean').reset_index(drop=False)
df_msk_trans = df_msk_trans[['territory_id', 'value']].groupby('territory_id').aggregate('mean').reset_index(drop=False)


df_msk_health = df_msk_health.rename(
    columns={
        'value':'health'
    }
)

df_msk_marketplace = df_msk_marketplace.rename(
    columns={
        'value':'marketplace'
    }
)

df_msk_mak = df_msk_mak.rename(
    columns={
        'value':'mak'
    }
)

df_msk_trans = df_msk_trans.rename(
    columns={
        'value':'trans'
    }
)

In [219]:
df_all = df_prod_mean.join(df_msk_health[df_msk_health.columns[1]])

In [220]:
df_all = df_all.join(df_msk_marketplace[df_msk_marketplace.columns[1]])
df_all = df_all.join(df_msk_mak[df_msk_mak.columns[1]])
df_all = df_all.join(df_msk_trans[df_msk_trans.columns[1]])
df_all

,territory_id,value,health,marketplace,mak,trans
0,1439,16033.083333,2581.166667,6954.666667,3172.250000,3748.000000
1,1440,15290.666667,1736.000000,7625.833333,2256.500000,3085.916667
2,1443,15648.500000,2380.750000,6893.416667,3091.916667,3531.250000
3,1444,16241.916667,2927.916667,7470.000000,3803.333333,4045.166667
4,1445,15573.166667,2286.750000,7357.583333,2842.750000,3832.500000
...,...,...,...,...,...,...
195,2813,15833.833333,1575.333333,6776.250000,1516.500000,2148.666667
196,2814,15975.000000,2419.333333,7247.250000,2858.500000,3536.083333
197,3008,16341.250000,2784.583333,7222.833333,3792.583333,4123.500000
198,3013,16474.916667,2152.500000,7551.583333,2650.916667,3590.083333
199,3014,15682.500000,1741.400000,6800.500000,2068.000000,2845.700000

In [221]:
df_all = df_all.rename(
    columns={
        'value': 'products'
    }
)
df_all

,territory_id,products,health,marketplace,mak,trans
0,1439,16033.083333,2581.166667,6954.666667,3172.250000,3748.000000
1,1440,15290.666667,1736.000000,7625.833333,2256.500000,3085.916667
2,1443,15648.500000,2380.750000,6893.416667,3091.916667,3531.250000
3,1444,16241.916667,2927.916667,7470.000000,3803.333333,4045.166667
4,1445,15573.166667,2286.750000,7357.583333,2842.750000,3832.500000
...,...,...,...,...,...,...
195,2813,15833.833333,1575.333333,6776.250000,1516.500000,2148.666667
196,2814,15975.000000,2419.333333,7247.250000,2858.500000,3536.083333
197,3008,16341.250000,2784.583333,7222.833333,3792.583333,4123.500000
198,3013,16474.916667,2152.500000,7551.583333,2650.916667,3590.083333
199,3014,15682.500000,1741.400000,6800.500000,2068.000000,2845.700000

In [222]:
import geopandas as gpd

gdf = gpd.read_file('data/msk_mo.geojson')
gdf

,osm_ref,osm_vers,territory_id,year_from_x,year_to_x,municipal_district_name_short,oktmo,municipal_district_name,municipal_district_type,municipal_district_status,...,source_rosstat,year_from_y,year_to_y,change_id_from,change_id_to,region_code,region_name,municipal_district_center_lat,municipal_district_center_lon,geometry
0,1703081,2023-11-01 09:25:37+00:00,1473,2018,9999,Протвино,46-767-000-000,городской округ Протвино,городской округ,None,...,data-20180110-structure-20150128.csv,2018,9999,None,None,50,Московская область,54.870770,37.218863,"MULTIPOLYGON (((37.16554 54.86659, 37.16668 54..."
1,184618,2023-12-20 19:19:32+00:00,1474,2018,9999,Пущино,46-762-000-000,городской округ Пущино,городской округ,None,...,data-20180110-structure-20150128.csv,2018,9999,None,None,50,Московская область,54.834721,37.613968,"MULTIPOLYGON (((37.57860 54.82302, 37.57887 54..."
2,181345,2023-01-01 01:00:00+00:00,1459,2018,9999,Красногорск,46-744-000-000,городской округ Красногорск,городской округ,None,...,data-20180110-structure-20150128.csv,2018,9999,None,None,50,Московская область,55.821754,37.340090,"POLYGON ((37.28327 55.90474, 37.28504 55.90562..."
3,181346,2023-01-01 01:00:00+00:00,2651,2020,9999,Одинцовский,46-755-000-000,городской округ Одинцовский,городской округ,None,...,data-20200110-structure-20150128.csv,2020,9999,union_7,None,50,Московская область,55.678223,37.266810,"POLYGON ((37.09492 55.76080, 37.09568 55.75856..."
4,189473,2023-01-01 01:00:00+00:00,1448,2018,9999,Жуковский,46-725-000-000,городской округ Жуковский,городской округ,None,...,data-20180110-structure-20150128.csv,2018,9999,None,None,50,Московская область,55.597280,38.119986,"MULTIPOLYGON (((38.03523 55.56989, 38.03650 55..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,2092927,2023-01-01 01:00:00+00:00,2598,2018,9999,Михайлово-Ярцевское,45-951-000-000,внутригородская территория города федерального...,внутригородская территория города федерального...,None,...,data-20180110-structure-20150128.csv,2018,9999,None,None,77,Москва,NaN,NaN,"MULTIPOLYGON (((37.15009 55.43896, 37.17666 55..."
201,1693667,2023-01-01 01:00:00+00:00,2601,2018,9999,Новофедоровское,45-954-000-000,внутригородская территория города федерального...,внутригородская территория города федерального...,None,...,data-20180110-structure-20150128.csv,2018,9999,None,None,77,Москва,NaN,NaN,"MULTIPOLYGON (((36.96389 55.49456, 36.97779 55..."
202,1693672,2023-01-01 01:00:00+00:00,2602,2018,9999,Первомайское,45-955-000-000,внутригородская территория города федерального...,внутригородская территория города федерального...,None,...,data-20180110-structure-20150128.csv,2018,9999,None,None,77,Москва,NaN,NaN,"MULTIPOLYGON (((37.12088 55.53315, 37.12179 55..."
203,2092928,2023-01-01 01:00:00+00:00,2603,2018,9999,Роговское,45-956-000-000,внутригородская территория города федерального...,внутригородская территория города федерального...,None,...,data-20180110-structure-20150128.csv,2018,9999,None,None,77,Москва,NaN,NaN,"MULTIPOLYGON (((37.20236 55.23965, 37.19984 55..."
204,2092931,2023-01-01 01:00:00+00:00,2607,2018,9999,Щаповское,45-961-000-000,внутригородская территория города федерального...,внутригородская территория города федерального...,None,...,data-20180110-structure-20150128.csv,2018,9999,None,None,77,Москва,NaN,NaN,"MULTIPOLYGON (((37.38658 55.45232, 37.38447 55..."

In [224]:
gdf_potreb = pd.merge(gdf, df_all, on=['territory_id'])
# gdf_potreb.explore()
gdf_potreb.to_file('data/mo_potreb.geojson')

In [227]:
gdf_potreb

,osm_ref,osm_vers,territory_id,year_from_x,year_to_x,municipal_district_name_short,oktmo,municipal_district_name,municipal_district_type,municipal_district_status,...,region_code,region_name,municipal_district_center_lat,municipal_district_center_lon,geometry,products,health,marketplace,mak,trans
0,1703081,2023-11-01 09:25:37+00:00,1473,2018,9999,Протвино,46-767-000-000,городской округ Протвино,городской округ,None,...,50,Московская область,54.870770,37.218863,"MULTIPOLYGON (((37.16554 54.86659, 37.16668 54...",13337.500000,1629.750000,6154.750000,1534.916667,1598.916667
1,184618,2023-12-20 19:19:32+00:00,1474,2018,9999,Пущино,46-762-000-000,городской округ Пущино,городской округ,None,...,50,Московская область,54.834721,37.613968,"MULTIPOLYGON (((37.57860 54.82302, 37.57887 54...",12634.083333,1675.083333,6691.083333,1232.666667,1255.833333
2,181345,2023-01-01 01:00:00+00:00,1459,2018,9999,Красногорск,46-744-000-000,городской округ Красногорск,городской округ,None,...,50,Московская область,55.821754,37.340090,"POLYGON ((37.28327 55.90474, 37.28504 55.90562...",16855.250000,2868.500000,8199.833333,4201.333333,4557.916667
3,181346,2023-01-01 01:00:00+00:00,2651,2020,9999,Одинцовский,46-755-000-000,городской округ Одинцовский,городской округ,None,...,50,Московская область,55.678223,37.266810,"POLYGON ((37.09492 55.76080, 37.09568 55.75856...",16170.666667,2809.583333,7739.750000,3599.166667,4211.416667
4,189473,2023-01-01 01:00:00+00:00,1448,2018,9999,Жуковский,46-725-000-000,городской округ Жуковский,городской округ,None,...,50,Московская область,55.597280,38.119986,"MULTIPOLYGON (((38.03523 55.56989, 38.03650 55...",15701.333333,2552.916667,7181.500000,3103.750000,3433.916667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2092927,2023-01-01 01:00:00+00:00,2598,2018,9999,Михайлово-Ярцевское,45-951-000-000,внутригородская территория города федерального...,внутригородская территория города федерального...,None,...,77,Москва,NaN,NaN,"MULTIPOLYGON (((37.15009 55.43896, 37.17666 55...",13701.666667,1734.000000,9183.000000,1347.333333,2287.583333
196,1693667,2023-01-01 01:00:00+00:00,2601,2018,9999,Новофедоровское,45-954-000-000,внутригородская территория города федерального...,внутригородская территория города федерального...,None,...,77,Москва,NaN,NaN,"MULTIPOLYGON (((36.96389 55.49456, 36.97779 55...",13070.750000,1605.583333,8437.750000,1522.000000,2634.333333
197,1693672,2023-01-01 01:00:00+00:00,2602,2018,9999,Первомайское,45-955-000-000,внутригородская территория города федерального...,внутригородская территория города федерального...,None,...,77,Москва,NaN,NaN,"MULTIPOLYGON (((37.12088 55.53315, 37.12179 55...",16703.916667,2895.250000,9748.083333,3239.833333,4291.416667
198,2092928,2023-01-01 01:00:00+00:00,2603,2018,9999,Роговское,45-956-000-000,внутригородская территория города федерального...,внутригородская территория города федерального...,None,...,77,Москва,NaN,NaN,"MULTIPOLYGON (((37.20236 55.23965, 37.19984 55...",14251.000000,1398.714286,9471.285714,1166.857143,1916.428571
199,2092931,2023-01-01 01:00:00+00:00,2607,2018,9999,Щаповское,45-961-000-000,внутригородская территория города федерального...,внутригородская территория города федерального...,None,...,77,Москва,NaN,NaN,"MULTIPOLYGON (((37.38658 55.45232, 37.38447 55...",14575.000000,1831.000000,8331.250000,1610.750000,2913.583333

In [226]:
gdf_time = gpd.read_file('data/mo_potreb_time.geojson')
gdf_time

,territory_id,municipal_district_name_short,01_Все категории,01_Здоровье,01_Маркетплейсы,01_Общественное питание,01_Продовольствие,01_Транспорт,02_Все категории,02_Здоровье,...,11_Общественное питание,11_Продовольствие,11_Транспорт,12_Все категории,12_Здоровье,12_Маркетплейсы,12_Общественное питание,12_Продовольствие,12_Транспорт,geometry
0,1473,Протвино,28511.0,1528.0,4761.0,1303.0,11625.0,1316.0,31910.0,1731.0,...,1481.0,12880.0,1619.0,41785.0,1728.0,8387.0,1518.0,14973.0,1606.0,"MULTIPOLYGON (((37.16554 54.86659, 37.16668 54..."
1,1474,Пущино,26279.0,1329.0,5564.0,960.0,10948.0,806.0,30609.0,1592.0,...,1145.0,11347.0,1343.0,37515.0,1593.0,8192.0,1122.0,13019.0,1318.0,"MULTIPOLYGON (((37.57860 54.82302, 37.57887 54..."
2,1459,Красногорск,47036.0,2565.0,6539.0,3538.0,14870.0,4069.0,50222.0,2822.0,...,4068.0,16793.0,4629.0,67719.0,3144.0,11915.0,4252.0,20300.0,4963.0,"POLYGON ((37.28327 55.90474, 37.28504 55.90562..."
3,2651,Одинцовский,42904.0,2472.0,6048.0,3017.0,14036.0,3723.0,46180.0,2759.0,...,3519.0,16073.0,4275.0,62802.0,3115.0,11130.0,3686.0,19479.0,4600.0,"POLYGON ((37.09492 55.76080, 37.09568 55.75856..."
4,1448,Жуковский,39732.0,2309.0,5613.0,2609.0,13790.0,3024.0,42655.0,2559.0,...,3007.0,15625.0,3478.0,57924.0,2827.0,10383.0,3073.0,18811.0,3672.0,"MULTIPOLYGON (((38.03523 55.56989, 38.03650 55..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2598,Михайлово-Ярцевское,27783.0,1398.0,6975.0,824.0,10535.0,1537.0,32850.0,1482.0,...,1348.0,13989.0,2577.0,49059.0,1970.0,12134.0,1538.0,16616.0,2812.0,"MULTIPOLYGON (((37.15009 55.43896, 37.17666 55..."
196,2601,Новофедоровское,33062.0,1466.0,6709.0,1404.0,11802.0,2642.0,34687.0,1471.0,...,1385.0,13216.0,2592.0,48344.0,1894.0,11711.0,1620.0,15820.0,2771.0,"MULTIPOLYGON (((36.96389 55.49456, 36.97779 55..."
197,2602,Первомайское,47060.0,2483.0,7184.0,2724.0,14778.0,3894.0,49475.0,2652.0,...,3258.0,16291.0,4453.0,68423.0,3165.0,14089.0,3359.0,20003.0,4854.0,"MULTIPOLYGON (((37.12088 55.53315, 37.12179 55..."
198,2603,Роговское,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,967.0,13198.0,1851.0,46239.0,1481.0,12845.0,888.0,16295.0,2088.0,"MULTIPOLYGON (((37.20236 55.23965, 37.19984 55..."
199,2607,Щаповское,28458.0,1269.0,4881.0,1065.0,11999.0,2189.0,33226.0,1528.0,...,1704.0,14253.0,2961.0,50346.0,2219.0,11676.0,1702.0,16890.0,3067.0,"MULTIPOLYGON (((37.38658 55.45232, 37.38447 55..."

In [231]:
gdf_un_all = pd.merge(gdf_time, gdf_potreb[['products', 'health', 'marketplace', 'mak', 'trans', 'territory_id']], on=['territory_id'] )
gdf_un_all.to_file('data/mo_potreb_mean_time.geojson')